@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Application Encyclopidia</h1>
    <p class="lead text-center">Welcome! Choose something below to get started.</p>
    <p class="text-center"><a href="https://asp.net" class="btn btn-primary">App Catalog &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Application Inventory</h2>
        <p>
            This will be a list of all contructed applications in the environment and their information.
        </p>
        <p><a class="btn btn-default" href="#">Go To Apps &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Application Owners</h2>
        <p>This will be a list of all applications and their owners, including ServiceNow groups.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Application Overview</h2>
        <p>Will be able to search by application and view ALL resources required to implement this application on a stack. I would also like to be able to run the resource check PowerShell but unsure if that will work.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>