@model EnvironmentApp.Models.Standard

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Create Standard</h2>


@Html.Partial("_StandardForm");
