@model EnvironmentApp.Models.Application

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Add New Application</h2>

@Html.Partial("_AppFormPartial");
