@model EnvironmentApp.Models.Application

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Application Edit</h2>

@Html.Partial("_AppFormPartial");
